@model IndexViewModel
    @{
        //Gives this page a title
        ViewData["Title"] = "Add User";
    }

<div>
    <h1>Add a User!</h1>

    <!--Input formt hat creates a User object and pushes
        if to the database-->
    <form method="post">
        <label>Username:</label>
        <br/>
        <input type="text" name="userName"/>
        <br/>
        <label>Firstname:</label>
        <br/>
        <input type="text" name="firstName"/>
        <br/>
        <label>Lastname:</label>
        <br/>
        <input type="text" name="lastName"/>
        <br/><br/>
        <input type="submit" value="Store Name"/>
    </form>

</div>
