
@model User
    @{
        ViewData["Title"] = "Tiger Tix Log In";
    }
<div>
    <h1> Log!</h1>

    <form method="post">
        <label>Username:</label>
        <br/>
        <input type="text" name="userName"/>
        <br/>
        <label>Password:</label>
        <br/>
        <input type="text" name="passWord"/>
        <br/><br/>
        <input type="submit" value="Log in"/>
    </form>

</div>