@model int
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

	var ID = Model;
}

<style>

	.sitCenter {
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}

	#button_holder {
		border: 1px solid rgb(49, 49, 49);
		border-radius: 5px;
		background-color: rgb(251, 251, 251);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		max-width: 250px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	#form_holder {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.submit-button {
		color: rgb(255, 255, 255);
		background-color: rgb(0, 82, 145);
		padding: 8px 30px;
		border-radius: 20px;
		border: none;
		cursor: pointer;
		margin-top: 10px;
		width: 150px;
	}

	.submit-button:hover {
		color: rgb(255, 255, 255);
		background-color: rgb(10, 102, 185);
		padding: 8px 30px;
		border-radius: 20px;
		border: none;
		cursor: pointer;
		margin-top: 10px;
		width: 150px;
	}

</style>

<body>
	<div class="sitCenter" id="title_holder"><h1>Welcome to TigerTix!</h1></div>

	<div class="sitCenter" id="button_holder">
		<div id="form_holder">

			<form class="redirect" id="see_events" action="ViewEvents">
				<input type="hidden" name="userID" value="@ID" />
				<input class="submit-button" type="submit" value="See Events" />
			</form>

			<form class="redirect" id="view_account" action="ViewAccount">
				<input type="hidden" name="userID" value="@ID" />
				<input class="submit-button" type="submit" value="My Account" />
			</form>

			<form class="redirect" id="signout" action="Signout">
				<input type="hidden" name="userID" value="@ID" />
				<input class="submit-button" type="submit" value="Sign Out" />
			</form>

		</div>
	</div>
</body>