@model User
@{
    ViewData["Title"] = "Profile";

    if (Model.account_type == "Organizer")
        Layout = "_OrganizerLayout";
    else
         Layout = "_Layout";


}

<h1>@Model.firstName @Model.lastName</h1>

<label>Username: @Model.UserName</label>
<br>
<label>Account Type: @Model.account_type</label>


