@model userModel
@{
    ViewData["Title"] = "Sign Up";
}

<style>
    .centered-container {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .signup-box {
        border: 1px solid rgb(49, 49, 49);
        border-radius: 5px;
        padding: 50px;
        background-color: rgb(251, 251, 251);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        max-width: 400px;
        width: 100%;
    }

    .submit-button {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 82, 145);
        padding: 8px 30px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }

</style>


<div class="centered-container" style="margin-top:25px"><h1>Sign Up</h1></div>

<div class="centered-container">
    <form method="post" class="signup-box">
        <div>
            <label>Username:</label>
            <br />
            @Html.TextBoxFor(model => model.userName)
            <br />
            @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
        </div>
        <div>
            <label>Password:</label>
            <br />
            @Html.PasswordFor(model => model.passWord)
            <br />
            @Html.ValidationMessageFor(model => model.passWord, "", new { @class = "text-danger" })
        </div>
        <div>
            <br />
            <input type="checkbox" class="roleSelector" value="isStudent" />
            <label>I am Faculty/Student</label>
        </div>
        <br /><br />
        <div style="text-align:center;">
            <input type="submit" class="submit-button" value="Sign Up" />
        </div>
    </form>
</div>