@* The Event list returned from the Controller is this View's Model *@
@model KeyValuePair<int, IEnumerable<Event>>

@{
    //Give the page a title
    ViewData["Title"] = "Events";
    Layout = "_Layout";

    var ID = Model.Key;
    var li = Model.Value;
}

<head>
    <!--Formatting and styling in the header to remove the need for a css file-->
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding: 10px;
            border: 1px solid #ddd;
        }

        .image-container {
            grid-column: 2;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

            .image-container img {
                max-width: 600px;
                max-height: 600px;
                margin-left: auto;
            }

        .text-container {
            grid-column: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    @* Iterate through each Event in this view's model and execute the following code for each event *@
    @foreach (var e in li)
    {
        <div class="grid-container">

            <!--Provides the user with the event's name and description, and gives a button to purchase a ticket-->
            <div class="text-container">
                <div>
                    <h2>@e.eventName</h2>
                    <p>Description here</p>
                    <form method="get" action="CheckEvent">
                        <input type="hidden" name="EventName" value="@e.eventName" />
                        <input type="submit" value="Purchase A Ticket!" />
                    </form>
                </div>
            </div>

            <!--Displays the image that represents the event-->
            <div class="image-container">
                <img src="@e.imageName" alt="Image">
            </div>

        </div>
    }

</body>
</html>

